
/__pycache__
/.git
/.vscode
/data
/results/confusion_matrix.png
/results/training_history.png
/venv
/models/__pycache__
/models/feature_names.pkl
/models/feature_scaler.pkl
/models/genre_classifier.h5
/models/label_encoder.pkl